/* .song-card {
	flex: 0 0 auto;

} */

.single-track {
	border: 1px solid black;
	margin: 1rem;
	padding: 5px;
	max-width: 282px;
}

.carousel-button {
	width: 50px;
}

.right-btn {
	margin-left: -100px;
}

.left-btn {
	margin-right: -100px;
}

.album-cover {
	margin: 10px;
}

.song-details {
	text-align: center;
}