:root {
	--accent-color: #af5d63;
	--accent-color-2: #b47978;
	--base-color: #F2E6C8;
	--secondary-base: #d6cdb4;
	--background-color: #1B1B1B;
	--offset-color: #6b7d7d;

	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--background-color);
}

* {
	box-sizing: border-box;
	color: var(--base-color);
}

a {
	color: var(--accent-color);
}

table thead th {
	text-align: left;
}