@font-face {
  font-family: 'Windsor';
  src: local('Windsor'), url(../fonts/Windsor-Bold.otf) format('otf');
}

@font-face {
  font-family: 'Eckmann';
  src: local('Eckmann'), url(../fonts/EckmannAntiqueDOT-Regular.otf) format('otf');
}

:root {
	--popstar: #af5d63;
	--old-rose: #b47978;
	--base-color: #F2E6C8;
	--secondary-base: #d6cdb4;
	--eerie-black: #1B1B1B;
	--xanadu: #6b7d7d;
	--botp-peach: #F6CBA0;
	--botp-champagne: #EAD696;
	--botp-green: #6A8866;
	--botp-blue: #6289A7;
	--botp-grey: #fafafa;
	letter-spacing: 1px;
}

#root {
	background-color: var(--eerie-black);
}

* {
	box-sizing: border-box;
}

a {
	color: var(--old-rose);
}

table thead th {
	text-align: left;
}

/* @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
		.__dml .container {
			max-width: 100vw;
		}
} */