.card {
	border: none !important;
	word-wrap: normal !important;
	background-color: var(--xanadu) !important;
}

.secondary {
	width: 200px !important;
	left: 0 !important;
}

.song-details {
	background-color: var(--xanadu);
	color: var(--secondary-base);
}

.song-details.lg {
	font-size: 12px;
}

.track-title {
	font-weight: 10000;
	font-size: 20px;
}

.track-artist {
	font-style: italic;
	font-weight: 500;
}

.track-album {
	font-weight: 200;
	font-size: 15px;
}

.track-date {
	font-size: 12px !important;
}
