.options {
	margin: 1rem;
}

.options .option {
	padding: .5rem 1rem;
	margin: .25rem;
	border: 1px solid grey;
	color: black;
	background-color: #fafafa;
	border-radius: 3px;
}

.options .option.selected {
	border: 1px solid green;
	background-color: greenyellow;
}